name: .NET build github.com

on:
  workflow_dispatch: 
jobs:
  build:
    runs-on: [self-hosted, Linux, f3-3]
    container:
      image: mcr.microsoft.com/dotnet/sdk:6.0    
    steps:
      - name: checkout
        uses: actions/checkout@v4 
        
      - name: build        
        run: /usr/share/dotnet/dotnet build -v diag