name: .NET build

on:
  push:
  workflow_dispatch: 
jobs:
  build:
    runs-on: [self-hosted, Linux]
    container:
      image: mcr.microsoft.com/dotnet/sdk:6.0
    env:
      DOTNET_CLI_RUN_MSBUILD_OUTOFPROC: 1
      DOTNET_HOST_PATH: /usr/share/dotnet/dotnet
    steps:
      - name: checkout
        uses: actions/checkout@v4            
      - name: build        
        run: dotnet build