name: .NET build

on:
  push:
  workflow_dispatch: 
jobs:
  build:
    runs-on: [self-hosted, Linux]
    container:
      image: mcr.microsoft.com/dotnet/sdk:6.0    
    steps:
      - name: checkout
        uses: actions/checkout@v4 
        
      - run: lsof /usr/share/dotnet/dotnet
        
      - name: build        
        run: dotnet build -v diag